.share {

    padding: 1rem;

    &__facebook {
        background-color: #3b5998;
    }

    &__twitter {
        background-color: #1da1f2;
    }

    &__linkedin {
        background-color: #0077b5;
    }

    &__reddit {
        background-color: #ff4500;
    }

}