/*
    Masonry style layout for the blog
*/

/* The parent container with grid layout */
.grid {
    display: grid;
    grid-gap: 0.8rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Autofill columns based on availble room */
    grid-auto-rows: 4rem; /* Default row span for elements */
}

/* Post Types */
.post-reg {
    grid-row-end: span 1;
}

.post-img {
    grid-row-end: span 2;
}

.post-img-xl {
    grid-row-end: span 3;
}