/* Tag Filter */

.tag {
  color: #888;
  &.selected {
    color: #222;
    font-weight: 700;
  }
}

/* Blog Posts */

.blog-post-preview {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

h1 > * {
  font-size: 1.2rem;
  text-decoration-line: none;
}

@media screen and (min-width: 848px) {
  .prologue-component {
    padding: 2rem 4rem;
  }
}