/* GLOBAL STYLES */

* {
  color: var(--text-normal);
}

body {
  background-color: #f8f9fa;
  font-size: 1rem;
  line-height: 2rem;
}

h1, h2, h3 {
  font-weight: 700;
  font-family: 'Montserrat';
}

h4, h5, h6 {
  font-family: 'Montserrat';
}

h2.subtitle {
  color: var(--text-subtitle);
  font-family: 'Nunito Sans';
  font-weight: 400;
  margin-top: 1rem;
}

.blog-post p,
.blog-posts p,
.tag {
  font-size: 1.15rem;
  line-height: 2.15rem;
}

.nav-item {
  align-items: baseline;
  padding: 0 0.5rem;
}

a {
  text-decoration: none;
  transition: all 0.2s;
  &:not(.utb):hover {
    color: var(--link-color);
    text-decoration: underline;
    transition: all 0.2s;
  }
}

.blog-post-content a {
  text-decoration: underline;
  border: none !important;
  border-radius: 2px;
  padding: 1px 4px;
  background: rgba(12, 26, 66, 0.05);
  padding-bottom: 2px;
  transition: 0.2s ease;
  color: var(--link-color) !important;

  &:hover {
    background: rgba(250, 208, 50, 0.1);
    color: rgb(237, 165, 28) !important;
  }
}

.prologue__social-links:hover {
  background-color: rgba(136, 136, 136, 0.15);
}

progress {
  left: 0;
}

blockquote {
  background-color: transparent;
  border-left: 2px solid var(--border-bottom);
  font-family: 'Noto Serif', 'serif';
  font-style: italic;
  padding: 1rem;
}

.gatsby-highlight > pre {
  background-color: var(--code) !important;
}

code.language-text {
  background-color: var(--code) !important;
  color: var(--code-text) !important;
}

.gatsby-image-wrapper {
  margin-bottom: 2rem;
}

.icon-container .fa {
  color: #fff;
}

.prologue-tag-container {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .blog-post p,
  div {
    font-size: 1rem;
    line-height: 2rem;
  }

  /* Override Cirrus default setting which hides header */
  .header .header-nav {
    height: inherit;
  }

  .prologue-tag-container {
    display: inherit;
    overflow: auto;
  }
}


/* POST TEMPLATE OVERRIDE */
#sidebar,
#sidebarBottom {
  display: none;
}

@media only screen and (max-width: 848px) {
  #sidebarBottom {
    display: block;
  }
}

@media only screen and (min-width: 849px) {
  #sidebar {
    display: block;
  }
}