/* GLOBAL STYLES */

* {
  color: #222;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Montserrat';
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  font-family: 'Montserrat';
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Montserrat';
}

h4 {
  font-size: 1.25rem;
  font-family: 'Montserrat';
}

h5 {
  font-size: 1.15rem;
  font-family: 'Montserrat';
}

h6 {
  font-size: 1.05rem;
  font-family: 'Montserrat';
}

h1, h2 {
  margin-top: 3rem;
}


p,
div {
  font-size: 1rem;
  line-height: 2rem;
}

.nav-item {
  align-items: baseline;
  padding: .5rem;
}

a {
  text-decoration: none;
  transition: all .2s;
  &:hover {
    color: #2ac4e8;
    transition: all .2s;
  }
}

.blog-post-content a {
  text-decoration: underline;
}

.prologue__social-links:hover {
  background-color: rgba(20, 50, 200, 0.05);
}

progress {
  left: 0;
}

blockquote {
  background-color: #f8f8f8;
  border-radius: .3rem;
	padding: 1rem;
}