.more {

    text-align: center;

    &__links {
        display: flex;
    }

    &__title {
        font-weight: 700;
        letter-spacing: .5rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

}

.morelink {
    background-color: var(--bg-secondary);
    flex-basis: 0;
    flex-grow: 1;
    padding: 1rem;

    &__title {
        font-family: 'Montserrat', 'serif';
        font-weight: 700;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    &__subtitle {
        color: #888;
        font-family: 'Montserrat', 'serif';
        font-size: 0.9rem;
        margin-bottom: 0.25rem;
    }

    &__description {
        font-size: 0.95rem;
        line-height: 1.25rem;
    }
}